* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: terminator;
    src: url(./fonts/terminator-genisys-font/TerminatorGenisys-Vodx.ttf);
}

@font-face {
    font-family: gothamBlack;
    src: url(./fonts/Gotham-Font/Gotham-Font/Gotham-Black.otf);
}

@font-face {
    font-family: gothamBook;
    src: url(./fonts/Gotham-Font/Gotham-Font/GothamBook.ttf);
}

@font-face {
    font-family: gothamLight;
    src: url(./fonts/Gotham-Font/Gotham-Font/Gotham-Light.otf);
}

html {
    font-size: 16px;
}

body {
    position: relative;
    min-height: 100vh;
    /*color: #fff;*/
    line-height: 1.5;
}

header {
    background-color: #E50914;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

h1 {
    display: flex;
    align-items: baseline;
    gap: 1px;
}

h1 span:first-child {
    font-family: terminator;
    font-size: 3rem;
}

h1 span:nth-child(2) {
    font-family: gothamBlack;
    font-size: 2rem;
}

header > span {
    font-family: gothamBook;
    font-size: 1rem;
}

.toggleButton {
    position: fixed;
    top: 20px;
    right: 20px;
  cursor: pointer;
    background-color: #E50914;
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
  border: 1px solid grey;
  outline: none;
    transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggleButton:hover {
    background-color: #c50711;
}

.lightMode .toggleButton {
    background-color: #141414;
    color: #fff;
}

.lightMode .toggleButton:hover {
    background-color: #1c1c1c;

}

.container {
    min-height: 100vh;
    background-color: #141414;
  color: #fff;
    padding-top: 30px;
    padding-bottom: 100px;
  transition: 0.3s ease;
}

.container.lightMode {
  background-color: lightgrey;
  color: #141414;
}

.card {
    background-color: #414141;
  color: #fff;
    width: 70%;
    margin: 0 auto 30px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    box-shadow: 0 1px 5px 1px grey;
    transition: .5s ease;
    font-family: gothamBook;
}

.lightMode .card {
  box-shadow: 0 1px 5px 1px #141414;
}

.card:hover {
    transform: scale(1.04);
}

.cardImgDiv {
    flex: 1;
}

.cardImg {
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

.cardBody {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.cardName {
    font-family: gothamBlack;
}

.cardImg {
    cursor: pointer;
}

.cardName,
.cardLike,
.cardComment,
.closePopupBtn {
    color: #fff;
    cursor: pointer;
}

.lightMode .closePopupBtn {
    color: #141414;
}

.cardBody,
.cardLike {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardLike {
    gap: 3px;
}

.liked {
    color: #E50914
}

.hidden {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 90vh;
    overflow-y: auto;
    background-color: #414141;
  color: #fff;
    z-index: 2;
    padding: 20px;
    border-radius: 10px;
    width: 70%;
    font-family: gothamBook;
    font-size: 1.2rem;
}

.popup.lightMode {
  background-color: darkgrey;
  color: #414141;
}

.popupContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.extraDescription {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.thumbnailDiv {
    width: 100%;
}

.thumbnailDiv > img {
    width: 100%;
    height: 100%;
}

.description {
    flex: 1.5;
    order: -1;
}

.commentFormAndDiv {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
}

.commentForm {
    display: flex;
    flex-direction: column;
}

.commentInput,
.commentText,
.commentButton {
    background-color: #141414;
    border: none;
    outline: none;
    color: #fff;
    margin-bottom: 5px;
    padding: 10px;
}

.lightMode .commentInput,
.lightMode .commentText,
.lightMode .commentButton {
  background-color: #414141;
}

.commentInput {
    font-family: gothamBook;
    font-size: 1rem;
}

.commentText {
    font-family: gothamBook;
    font-size: 1rem;
    height: 150px;
}

.commentButton {
    width: 60%;
    border-radius: 5px;
    font-family: gothamBook;
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    justify-content: center;
}

.commentButton:hover {
    border: 1px solid #fff;
}

.commentsDiv {
    display: flex;
    flex-direction: column;
}

.commentsDivContainer {
    border: 5px inset grey;
    background-color: #141414;
    color: #fff;
    max-height: 200px;
    overflow-y: scroll;
    padding: 10px;
}

.lightMode .commentsDivContainer {
    border: 5px inset lightgrey;
    background-color: #414141;
    color: #fff;
}

nav {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #414141;
  color: #fff;
    width: 100px;
    margin: 30px auto 60px;
}

nav span:hover {
    cursor: pointer;
    background-color: #E50914;
}

footer {
    height: 100px;
    position: absolute;
    bottom: 0;
    background-color: #141414;
  color: #fff;
    font-family: gothamBlack;
    font-size: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: auto;
    padding: 10px;
}

footer.lightMode {
  background-color: lightgrey;
  color: #414141;
}

footer a.lightMode {
  color: #414141;
}

footer p {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    margin: auto;
}

.mailIcon:hover,
.phone:hover {
    cursor: pointer;
    color: #E50914;
}

a {
    color: #fff;
    text-decoration: none;
}

.social {
    text-decoration: underline;
}

.social:hover{
    text-decoration: none;
    color: #E50914;
}


/********** MEDIA QUERIES **********/

@media screen and (width >= 575px) {
    html {
        font-size: 17px;
    }
  
  
.toggleButton {
    padding: 5px 10px;
}

    .cardOuterContainer {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 30px;
        padding: 0 30px;
    }
    
    .card {
        margin: initial;
        width: initial;
    }

    .cardBody {
        gap: 30px;
    }

    .popup {
        width: 50%;
    }
}

@media screen and (width >= 1250px) {
    html {
        font-size: 18px;
    }
    
    .cardOuterContainer {
        display: grid;
        grid-template-columns: repeat(4, auto);
        padding: 30px 80px;
    }

    .popup {
        width: 70%;
    }

    .popupContainer {
        flex-direction: row;
    }

    .description {
        order: initial;
    }
}
